<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <link href="{{ url_for('static',filename='index.css') }}" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <title>dublin bikes map</title>
</head>
<body>
<div class="container">
  <div class="page-header">
    <img src="static/DB_LOGO.png" alt="logo">
    <h1 class="text-center">Dublin bike</h1>
  </div>
    <div class="row justify-content-end">
      <div class="col-4">
          <div class="btn-group">
              <button  type="button" id="abikes" class="btn btn-primary" onclick="displayMarker(0)">AVAILABLE BIKES</button>
              <button  type="button" id="aspaces" class="btn btn-primary" onclick="displayMarker(1)">AVAILABLE SPACES</button>
          </div>
      </div>
    </div>
    <div class="row shadow" id="map-row">
        <!--The div element for the map -->
        <div id="map"></div>
    </div>
        <div class="dropdown" id="dropdown-menu">

        </div>
    <div class="row" id="hourly">
        <h4>hourly chart</h4>
        <div id="hourly-chart"></div>
    </div>
    <div class="row" id="daily">
        <h4>daily chart</h4>
        <div id="daily-chart"></div>
    </div>
    <div class="row" id="prediction">
        <div class="col-1" id="preButton"></div>
            <div class="col-10">
                <h4>prediction chart</h4>
                <div id="prediction-chart"></div>
            </div>
        <div class="col-1" id="nextButton"></div>
    </div>
    <div class="row" id="content-row2">
        <h4>weather forecast</h4>
        <div class="row" id="weather"></div>
    </div>
  </div>



    <script src="{{ url_for('static',filename='index.js') }}?t={{time()}}"></script>{# time is only for developement stage #}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFP5d_7EMWgLSyTTuCvpYcUU--AQ239So&callback=initMap&libraries=&v=weekly" async defer></script>
</body>
</html>
