APScheduler==3.7.0
backcall==0.2.0
brotlipy==0.7.0
certifi==2020.12.5
cffi @ file:///D:/bld/cffi_1613414103629/work
chardet @ file:///D:/bld/chardet_1602255509283/work
click==7.1.2
colorama @ file:///tmp/build/80754af9/colorama_1603211150991/work
cryptography @ file:///D:/bld/cryptography_1612993987855/work
decorator==4.4.2
Flask==1.1.2
Flask-APScheduler==1.12.1
Flask-Caching==1.9.0
Flask-SQLAlchemy==2.4.4
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
ipykernel @ file:///D:/bld/ipykernel_1613853120872/work/dist/ipykernel-5.5.0-py3-none-any.whl
ipython @ file:///D:/bld/ipython_1612487184680/work
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi @ file:///D:/bld/jedi_1610147001629/work
Jinja2==2.11.2
joblib @ file:///tmp/build/80754af9/joblib_1601912903842/work
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-core @ file:///D:/bld/jupyter_core_1612125412016/work
MarkupSafe @ file:///D:/bld/markupsafe_1610127684851/work
mysql==0.0.2
mysql-connector==2.2.9
mysqlclient==2.0.3
numpy @ file:///D:/bld/numpy_1612953195634/work
pandas @ file:///D:/bld/pandas_1614698100826/work
parso @ file:///tmp/build/80754af9/parso_1596826841367/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1602688806899/work
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
Pygments @ file:///tmp/build/80754af9/pygments_1600458456400/work
PyMySQL==1.0.2
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
PySocks @ file:///D:/bld/pysocks_1610291737679/work
python-dateutil==2.8.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
pywin32==300
pyzmq @ file:///D:/bld/pyzmq_1613478964937/work
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
scikit-learn @ file:///D:/bld/scikit-learn_1611080013548/work
scipy @ file:///C:/bld/scipy_1609458022270/work
six==1.15.0
SQLAlchemy @ file:///D:/bld/sqlalchemy_1612225247855/work
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
tornado @ file:///D:/bld/tornado_1610094910414/work
traitlets @ file:///tmp/build/80754af9/traitlets_1602787416690/work
tzlocal==2.1
urllib3 @ file:///tmp/build/80754af9/urllib3_1603305693037/work
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
Werkzeug==1.0.1
win-inet-pton @ file:///D:/bld/win_inet_pton_1610147566412/work
wincertstore==0.2
