#map {
    position: relative;
}
#map-row{
    height: 100vh;
    overflow-y: hidden;
    position:center;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
}
.content-row{
    height: 300px;
}
html,body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
}
.btn-primary:active ,.btn-primary:focus{
    background-color: white !important;
    color: #0d6efd !important;
}
.custom-map-control-button {
  appearance: button;
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin: 10px;
  padding: 0 0.5em;
  height: 40px;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
}
.custom-map-control-button:hover {
  background: #ebebeb;
}

.page-header {
background-color: #074b54;
width:100%;
padding-left: 20px;
vertical-align: middle;
display: flex;
align-items: center;
padding-top: 10px;
}

.text-center {
    padding-left: 20px;
    color: #5d878d;
}

.container {
  min-height: 100vh;
  min-width: 90vw;
}

.row.justify-content-end {
    text-align: center;
    display:inline;
}

#dropdown-menu {
position: absolute;

}

#col-4 {
padding-top: 20px;
position: absolute;
color: #074b54;
}

#dropdownMenu2 {
background-color: #074b54;
}

.btn.btn-primary {
background-color: #074b54;
}