#map {
    position: relative;
}
#map-row{
    height: 100vh;
    overflow-y: hidden;
}
.content-row{
    height: 300px;
}
html,body{
    height: 100%;
}
.btn-primary:active ,.btn-primary:focus{
    background-color: white !important;
    color: #0d6efd !important;
}
.custom-map-control-button {
  appearance: button;
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin: 10px;
  padding: 0 0.5em;
  height: 40px;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
}
.custom-map-control-button:hover {
  background: #ebebeb;
}
h1 {
    color: #5d878d;
}
