#map {
    position: relative;
}
#map-row{
    height: 100vh;
    overflow-y: hidden;
    position:center;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
}
.content-row{
    height: 300px;
}
html,body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
}
.btn-primary:active ,.btn-primary:focus{
    background-color: white !important;
    color: #074b54; !important;
}
.custom-map-control-button {
  appearance: button;
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin: 10px;
  padding: 0 0.5em;
  height: 40px;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  color: black;
}
.custom-map-control-button:hover {
  background: #ebebeb;
}

.page-header {
background-color: #074b54;
width:100%;
padding-left: 20px;
vertical-align: middle;
display: flex;
align-items: center;
padding-top: 10px;
}

.text-center {
    padding-left: 20px;
    color: #5d878d;
}

.container {
  min-height: 100vh;
  min-width: 95vw;
  text-align:center;
}

#dropdownMenu2 {
background-color: #074b54;
}

.btn-primary {
background-color: #074b54;
border-color: white;
}

.h4, h4 {
padding-top: 30px;
    text-align: center;
    color: #074b54;
    font-size: 30px;
}

.justify-content-end {
    display: inline-block;
    padding: 20px;
    justify-content: flex-end !important;
}

.col-4 {
    padding-top: 20px;
    flex: 0 0 auto;
    width: 100%;
}
button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: white;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: #074b54;
    box-sizing: border-box;
    margin: 0em;
    font-color: white;
    padding: 2px 6px;
    border-width: 1px;
    border-style: outset;
    border-color: white;
    border-image: initial;
    border-radius: .25rem;
    font-size: 12px;
}

.row {
    padding: 20px;
}

.footer {
background:#074b54;
height: 50px;
color:white;
text-align:center;
position:relative;
bottom:0px;
left:0px;
padding-top:20px;
width:100%;
}

li {
    display: list-item;
    text-align: left;
}